# Angular
dist/
tmp/
app/**/*.js
app/**/*.js.map
node_modules/
bower_components/
.idea/
.sass-cache/
connect.lock/
coverage/
libpeerconnection.log/
npm-debug.log
testem.log
typings/
.angular/
e2e/*.js
e2e/*.map
.DS_Store/

# Electron
.env
.gclient_done
**/.npmrc
.tags*
.vs/
.vscode/
*.log
*.pyc
*.sln
*.swp
*.VC.db
*.VC.VC.opendb
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.xcodeproj
/.idea/
/dist/
SHASUMS256.txt
**/package-lock.json
compile_commands.json
.npmrc
electron-api.json
electron.d.ts
spec/.hash
.eslintcache*
/spec/fixtures/native-addon/echo/build/
ts-gen
.depshash
.depshash-target
patches/mtime-cache.json
spec/fixtures/logo.png
/out-tsc
/bazel-out
yarn-error.log
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.history/*
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
.DS_Store
Thumbs.db
